@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #E7E7EB;
    background-color: #44444a;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

#app {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
}

/* Styles to reuse */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightDark {
    opacity: 0.5;
}

/* --------------------------------------------------------- */
/* Style side bar that contains today's weather */
.today {
    width: 30vw;
    background: #1E213A;
    display: flex;
    flex-direction: column;
}

.search {
    flex: 1;
}

/* Style for current weather images */
.weather-image {
    flex: 2;
    position: relative;
}

.cloud-background {
    width: 100%;
    height: 100%;
    object-fit: none;
}

.currWeatherIcon {
    position: absolute;
    width: 45%;
    left: 30%;
    top: 20%;
}

.temperature {
    flex: 1;
}

.temp-number {
    font-size: 6em;
}

.temp-symbol {
    align-self: center;
    font-size: 2em;
    position: relative;
    top: 0.5em;
}

.description {
    flex: 1;
    font-size: 2em;
}

.date-location {
    flex: 1;
    flex-direction: column;
    gap: 30px;
}

.date {
    margin: 0 10px;
}

.location-symbol {
    font-size: 1.5em;
    margin-right: 9px;
}

.details {
    width: 70vw;
}