@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

body {
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
}

nav {
    position: fixed;
    background: white;
    width: 50%;
    /* Below two lines move refresh button on right */
    display: flex;
    justify-content: flex-end;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

/* Quote */
.quote {
    display: flex;  /* Without this, ::before doesn't show up. Asked and answered here: https://stackoverflow.com/questions/75055502/before-element-doesnt-show-up-without-displayflex  */
}

.quote::before {
    content: "";
    min-width: 8px;
    background-color: #F7DF94;
    margin-right: 50px;
}

/* Random Quote */
.random {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

/* Refresh button */
.refreshButton {
    border: none;
    background: none;
    cursor: pointer;
    margin: 50px;
    display: flex;
}

.refreshIcon {
    align-self: center;
    width: 20px;
    height: 20px;
}

.refreshText {
    font-size: 18px;
}

/* author on random quote page */
.authorButton {
    margin-left: 25px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 24px;
    padding: 50px 0px;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    height: 128px;
}

.authorButton:hover {
    background: #333333;
    color: #F2F2F2;
}

.author {
    position: absolute;
    left: 25px;
    top: 50px;
}

.gotoArrow {
    position: absolute;
    top: 50px;
    right: 50px;
}

/* list of quotes */
ul {
    list-style: none;
}

li {
    margin-top: 100px;
}

.authorForQuotes {
    font-weight: 700;
    margin-top: 30px;
}